@charset "UTF-8";
/* CSS Document */
/* footer design */
.footer{
	background-color: black;
	color: ghostwhite;
	text-align: center;
	padding: 1%;
	margin-top: 30px;
	
}



h4{ 

text-align: center;
padding-top:5px;	
}

h2{ z-index: 10;}

.column1, .column2, .column3, .column4{
	width: 45%;
	float:left;
	margin: 1%;
	border: thin;
	background-color:lightgray;
	border-color: black;
}

.container{
	margin-top: 50px;
}

img {
	display: block;
	width: 100%;
}

#img{
	align-content: center;
	padding: 2%;
	display: block;
	max-width: 100%;
}
/*#feature{align-content: center;
padding: 0 10 1 10;}
*/
.article{
	height:30em;
	margin-bottom: 2em;
	background-color: #efefef !important;
	padding-left: 2%;
}

#feature{
	float: left;
	background-color:white;
}